* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* colors */
  --font-primary: #10162f;

  --color-primary: #3A10E5;
  --color-primary-dark: #5533FF;
  --color-secondary: rgb(255, 240, 229);
  --color-white: rgb(255, 255, 255);

  --color-border: rgb(16, 22, 47);
  --color-shadow: rgb(16, 22, 47);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  justify-content: center;
  padding: 4rem;
  background-color: var(--color-secondary);
  color: var(--font-primary)
}

/* Generales */
ul {
  list-style-type: none;
}