.modalBackdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalTitle {
  font-size: 1rem;
}

.modalContent {
  min-height: 50px;
}

.modalCard {
  min-width: 350px;
  width: 350px;
  position: absolute;
  top: 30vh;
  left: 50%;
  transform: translateX(-50%);
}
