.card {
  background-color: var(--color-secondary-dark);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-width: 500px;
  padding: 1rem;
  border-radius: 10px;
  display: block;
  margin-bottom: 10px;
}
