.title {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  position: relative;
  font-weight: bold;

  &:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 4px;
    bottom: -5px;
    background-color: var(--font-primary);
  }
}
