* {
  box-sizing: border-box;
}

.App {
  min-width: 1200px;
  width: 1200px;
  display: flex;
  height: 100vh;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
}

/* section {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  align-items: center;
  min-width: 40vw;
} */

button {
  background-color: #000000;
  color: #FFE81F;
  border: none;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
}



/* ------------------- Form */

.form {
  width: 600px;
  padding: 1rem 2rem;
  border-right: 1px solid rgb(0, 0, 0, 0.15);
}


/* ------------------- Movies list */

.movies-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  align-content: flex-start;
}

.mov-col-1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mov-col-2 {
  width: 100%;
}